.header {
          padding: 10px;
          margin: 20px;
          border-bottom: 2px solid #ccc;
}
.header_title {
          text-transform: uppercase;
          text-shadow: 5px 5px 5px rgba(0,0,0,0.4);
          font-size: 30px;
          color:rgb(64, 64, 64)
}
.subject {
          padding: 10px;
          width: 100%;
}
.subject img {
          width: 20%;
}
.subject button {
          width: 20%;
          height: 40px;
          font-size: 17px;
          font-weight: 600;
          letter-spacing: 1px;
}
.copy_right_footer {
          position: fixed;
          bottom: 0;
          width: 100%;
  padding:5px;
          text-align: center;
          font-size: 22px;
          font-family: 'Roboto Mono', monospace;
          box-shadow: 30px 0 30px rgba(255, 247, 7, 0.6);
          background-color: rgb(255, 255, 255);
          margin-top: 50px;
}
.test {
          background-color: rgb(169, 169, 169);
          border-radius: 20px;
          padding: 20px;
          margin-bottom: 20px;
          color: #fff;
}
.test h5 {
          border-radius: 10px;
          background-color: #fff;
          color: #333;
  text-align: center;
 padding: 10px;
 font-size: 15px;
 font-weight: 600;
 letter-spacing: 1px;

}
.test h5 b {
          color: rgb(255, 0, 0);
}
.test img {
        border-radius: 20px;
        max-height: 400px;
        max-width: 300px;
}
.test:nth-child(9){
        margin-bottom: 80px;
}

.fulleee_result {
background-color:red ;
}
.full-result {
        width: 85%;
        border-radius:20px;
        background-color: rgb(130, 218, 238);
        margin: auto;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 150px;
        font-size: 20px;
}
.full-result h3,p {
        margin-bottom: 10px;
}